@font-face {
    font-family: 'Poppins-bold';
    src: url('./fonts/Poppins-SemiBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Libre';
    src: url('./fonts/LibreFranklin-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'GT';
    src: url('./fonts/GTWalsheimPro-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Poppins-light';
    src: url('./fonts/Poppins-ExtraLight.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline-style: none;
    font-family: 'Poppins-light';

}
body {
    height: 100vh;
}

.container {
    display: grid;
    place-content: center;
    height: 100vh;
    background-image: url(./img/sky.jpg);
    background-size: contain;
}

.formDiv {
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 50px
}
.formDiv form {
    display: flex;
    align-items: center;
    gap: 3px;
}

input[type='text'] {
    border-radius: 15px;
    border: 1px solid black;
    padding: 10px 15px;
    font-size: 1em;
}

.submitSearch {
    border-radius: 15px;
    height: 47px;
    width: 47px;
    cursor: pointer;    
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #9f9f9f;
}

.searchImg {
    height: 30px;
    width: 30px;
}

.results {
    border: 1px solid rgba(255, 255, 255, 0.18);
    min-height: 400px;
    min-width: 350px;
    border-radius: 20px;
    background: linear-gradient(135deg, rgb(162 122 122 / 50%), rgb(0 0 0 / 20%));
    backdrop-filter: blur(7px);
    margin-top: 20px;
    padding: 20px;
    position: relative;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 7%;
    left: 5%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
}

.cityName {
    font-size: 2.3em;
    z-index: 1;
}
span.country {
    font-size: 0.6em !important;
    margin-left: 15px;
}

.temperature {
    margin-top: 0;
    align-self: flex-end;
    font-size: 2em;
    font-family: 'Poppins-bold';
}

.feelsLike {
    align-self: flex-end;
    padding-top: 20px;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.5);
}

.weather {
   text-align: right;
   font-size: 1.7em;
   margin: auto 0px;
   font-weight: bold;
}

.otherInfo {
    margin: auto 0px;
    display: flex;
    flex-direction: column;
    background: rgba(24, 24, 27, 0.2);
    border-radius: 10px;
    padding: 10px;
    font-size: 0.8em;
}


.moreInfo {
    display: flex;
    justify-content: space-between;
}

.weeklyForecast {
    width: 100%;
    display: flex;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(10px);
}


.weather-forecast-item {
    min-height: 180px;
    min-width: 150px;
    display: flex;
    color: white;
    flex-direction: column;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
}

.weather-today {
    background: linear-gradient(135deg, rgb(162 122 122 / 50%), rgba(124, 98, 98, 0.2));
}

.night {
    margin-top: auto;
}
.day {
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 15px;
}





.weather-forecast-item:hover {
    transform: scale(1.1);
  }

  .weatherIcon {
    margin-top: auto;
    margin-bottom: auto;
    height: 60px;
    width: 60px;
    align-self: center;
    filter: contrast(0.6);
  }



  .frame {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100vh;
    background-color: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    opacity: 0.5;
    pointer-events: none;
    display: none;
    overflow: hidden;
}

.moon {
    display: none;
    position: fixed;
    top: 100px;
    left: 20px;
    width: 80px;
    height: 80px;
	background: #f6edbd;
	border-radius: 50%;
	box-shadow: 1px 1px 15px #f6edbd;
	overflow: hidden;
	animation: moonrise 1.3s forwards ease-out;
    z-index: 0;
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
    opacity: 0.7;
}

.moon_dot {
	position: absolute;
	border-radius: 50%;
	background: #ece1a8;
}
.moon_dot-1 {
	top: 30px;
	left: 10px;
	width: 5px;
	height: 5px;
}

.moon_dot-2 {
	top: 40px;
	left: 13px;
	width: 6px;
	height: 6px;
}
.moon_dot-3 {
	top: 57px;
	left: 43px;
	width: 7px;
	height: 7px;
}
.moon_dot-4 {
	top: 47px;
	left: 56px;
	width: 8px;
	height: 8px;
}

.moon_dot-5 {
	top: 27px;
	left: 53px;
	width: 8px;
	height: 8px;
}
.moon_dot-6 {
	top: 10px;
	left: 34px;
	width: 9px;
	height: 9px;
}
.moon_dot-7 {
	top: 30px;
	left: 27px;
	width: 11px;
	height: 11px;
}

.moon_dot-8 {
	top: 55px;
	left: 37px;
	width: 5px;
	height: 5px;
}

.moon_dot-9 {
	top: 42px;
	left: 40px;
	width: 10px;
	height: 10px;
}

.waterdrop {
	position: absolute;
	top: -15px;
	background: #4c7395;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	z-index: 10;
	transform-origin: 50% 100%;
	animation: rain 1.2s linear infinite both;
}

.waterdrop:before {
	position: absolute;
	content: "";
	display: block;
	top: -1px;
	right: 0;
	width: 0px;
	height: 0px;
	border-width: 3px;
	border-style: solid;
	border-color: #4c7395;
	border-bottom-color: transparent;
	border-left-color: transparent;
	transform: skewY(-35deg);
}

.waterdrop-small {
	top: -14px;
	width: 5px;
	height: 5px;
	background: #4c7395;
	animation-duration: 1.8s;
}

.waterdrop-small:before {
	border-width: 2px;
	border-top-color: #4c7395;
	border-right-color: #4c7395;
}

.waterdrop-big {
	top: -17px;
	width: 9px;
	height: 9px;
	background: #4c7395;
	animation-duration: 1s;
    display: none;
}

.waterdrop-big:before {
	border-width: 4px;
	border-top-color: #7fc1f9;
	border-right-color: #7fc1f9;
}

.waterdrop-1 {
	left: 40px;
	animation-delay: 0.1s;
	animation-duration: 1.1s;
}

.waterdrop-2 {
	left: 120px;
	animation-delay: 0.03s;
	animation-duration: 1.13s;
}

.waterdrop-3 {
	left: 230px;
	animation-delay: 1.5s;
	animation-duration: 0.91s;
}

.waterdrop-4 {
	left: 270px;
	animation-delay: 0.27s;
	animation-duration: 0.9s;
}

.waterdrop-5 {
	left: 380px;
	animation-delay: 2.38s;
	animation-duration: 0.85s;
}

.waterdrop-6 {
	left: 80px;
	animation-delay: 3.2s;
}

.waterdrop-7 {
	left: 170px;
	animation-delay: 0.1s;
}

.waterdrop-8 {
	left: 200px;
	animation-delay: 2.76s;
}

.waterdrop-9 {
	left: 280px;
	animation-delay: 1.6s;
}

.waterdrop-10 {
	left: 320px;
	animation-delay: 2.2s;
}

.waterdrop-11 {
	left: 400px;
	animation-delay: 1.94s;
}

.waterdrop-12 {
	left: 30px;
	animation-delay: 4s;
}

.waterdrop-13 {
	left: 68px;
	animation-delay: 3.6s;
}

.waterdrop-14 {
	left: 300px;
	animation-delay: 0.32s;
}

.waterdrop-15 {
	left: 155px;
	animation-delay: 0.6s;
}

.waterdrop-16 {
	left: 335px;
}

.waterdrop-17 {
	left: 306px;
	animation-delay: 0.48s;
}

.waterdrop-18 {
	left: 179px;
	animation-delay: 1.65s;
}

.waterdrop-19 {
	left: 324px;
}

@keyframes rain {
	0% {
		transform: translate(0, 0) scaleX(1) scaleY(1) rotate(-16deg);
	}

	70% {
		transform: translate(-40px, 100vh) scaleX(1) scaleY(1) rotate(-16deg);
	}

	100% {
		transform: translate(-40px, 110vh) scaleX(3) scaleY(0) rotate(0);
	}
}

.stars{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:none;
    background: transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
    pointer-events: none;
    background-size: contain;
}

.alert {
    color: white;
    position: fixed;
    bottom: 1%;
    display: none;
}


.alert2 {
    background: url('./img/output-onlinegiftools\ \(2\).gif');
    position: fixed;
    bottom: 10%;
    right: 10%;
    height: 70px;
    width: 70px;
    background-position: center;
    filter: invert(0.5);
    display: none;
}
.alert.show,
.alert2.show {
    display: flex;
    animation: show 0.9s ease-in 0s normal none; 
}

.alert2.leave,
.alert.leave {
   animation: alerts 0.5s linear 0s normal forwards; 
}

@keyframes alerts {
    0%{
    transform: translate(0px);
    }
    50%{
        transform: translate(0px);
        opacity: 0.1;
    }
    65%{
        opacity: 0;
    }
    100%{
        opacity: 0;
        transform: translate(2000px);
    }
    }
    
    @keyframes show {
        0%{
            opacity: 0;
        }
        50%{
            transform: translate(0px);
            opacity: 0.5;
        }
        100%{
            transform: translate(0px);
            opacity: 1;
        }
}
        
.loading {
    display: flex;
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0;
    overflow: hidden;
    width: 100%;
    backdrop-filter: blur(30px);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadingImg {
    width: 100px;
    height: 100px;
    animation: bounce .8s cubic-bezier(.0, -.5, .2, 1.4) infinite alternate;
}
.loadingTxt {
    position: absolute;
    top: 10%;
    text-align: center;
    color: white;
    font-size: 2.5em;
    width: 60%;
    border: 1px solid white;
    padding: 5px;
}

.loading.hide {
    animation: alerts 0.5s linear 0s normal forwards; 
}
.loadingImg.hide,
.loadingTxt.hide {
   display: none;
}



@keyframes bounce {
    100% {
        transform: translate3d(0px, 50px, 0px)
        scale3d(1, 1, 1)
    }
}










  @media screen and (max-width: 425px){
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        width: 100%;
        place-content: unset;
        overflow-x: hidden;
        background: linear-gradient(to bottom, #36b3d7, #0e334e);
        padding-bottom: 20px;
    }
    .formDiv form {
        height: 41px;
        gap: unset;
    }
    .formDiv,
    .results {
        position: unset;
    }
    .formDiv {
        max-width: 80%;
    }
    .results {
        min-height: unset;
        max-width: 90%;
        border-radius: 15px;
        border: unset;
        font-size: 1.3em;
        padding: 10px 10px;
        margin-top: 60px;
        min-width: 80%;
        word-wrap: break-word;
        box-shadow: 0px 0px 2px 0px rgb(0 0 0 / 21%);
        box-shadow: unset;
        background: unset;
        backdrop-filter: unset;
    }
    .weather {
        font-size: 1.5em;
        font-weight: 400;
    }
    .temperature {
        font-size: 2.5em;
        font-weight: bold;
        font-family: unset;
    }
    .time {
        color: rgba(255, 255, 255, 0.5);
    }
    .weeklyForecast {
        width: 100%;
        display: flex;
        gap: 100%;
        padding: 20px 30% 20px 30%;
        justify-content: unset;
        overflow: auto;
        background: unset;
        backdrop-filter: unset;
        position: unset;
        margin-top: auto;
        min-height: 205px;
        scroll-snap-type: x mandatory;

    }
    .weather-forecast-item {
        scroll-snap-align: center;
        min-height: 165px;
        min-width: 140px;
        background: linear-gradient(135deg, rgb(162 122 122 / 50%), rgba(124, 98, 98, 0.2))
    }
    .weeklyForecast::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .submitSearch {
        height: 40px;
        width: 50px;
        min-width: 50px;
        border-radius: 0px 17px 17px 0px;
        border: 2px solid #010034;
        border-left: 1px solid white;
        background-color: #010034;

    }
    .searchImg {
        height: 25px;
        width: 25px;
    }
    input[type='text'] {
        padding: 7px 14px;
        font-size: 1.1em;
        border-radius: 17px 0px 0px 17px;
        max-height: 40px;
        border: 2px solid #000748;
        background-color: #000748;
        color: white;
        width: 100%;
    }
    input[type='text']::placeholder {
        color: white;
    }
    .cityName {
        font-size: 2.3em;
        font-weight: bold;
    }
    .feelsLike {
        font-size: 0.9em;
    }
    span.country {
        margin-left: 7px;
        font-size: 0.4em !important;
    
    }
    .moon {
        top: 160px;
        left: 20px;
    }
  }

.formDiv span {
    color: white;
    position: absolute;
    bottom: 200px;
    text-align: center;
    
}

@media screen and (max-width: 425px) and (max-height: 750px) {
    .container {
        padding-top: 25px;
        width: 100%;
        padding-bottom: 20px;
    }
    .results {
        margin-top: 20px;
        font-size: 1em;
    }
    .cityName {
        font-size: 2.7em;
    }
    .temperature {
        font-size: 2.4em;
    }
    .moon {
        top: 92px;
        left: 20px;
    }

}



